body { 
    text-align: center;
    background-color: #ffd;
    font-size: 110%;
    font-family: 'Segoe UI'
}

header {
   padding-top: 20px;
   text-align: center;
}

main {
    background-color: #ffd;
    padding: 20px;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


#timeline {
    margin: 50px;
}

ol {
    list-style-type: none;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px;
}

footer {
    text-align: left;
    margin-left: 40px;
}